.carousel {
  &.row :global(.carousel__item) {
    margin-right: 20px;
  }

  &__title {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
    color: #fff;
  }

  &__inner {
    display: flex;
    transition: .5s transform linear;
    will-change: transform;
    transform: translateZ(0);
  }
}